<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Hikes</h1>
    <ul>
       <%   users.forEach(user => { %>
        <%  user.hikes.forEach(hike => { %>
            <li>
                <a href="/users/<%= user._id %>/hikes/<%= hike._id %>">
                <%= hike.hikeName %> at <%= hike.location %> by <%= user.username %> </a>
            </li>
        <%   })}) %>
    </ul>
</body>
</html>