<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Your Hikes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Hikes</h1>
    <a href="/users/<%=user._id%>/hikes/new">Add a Hike</a>
    <ul>
      <% hikes?.forEach((hike)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/hikes/<%= hike._id %>">
          <%= hike.hikeName %> at <%= hike.location %></li>
      <% }) %>
    </ul>
</body>
</html>